<div class="md-stepper-horizontal orange">
  {% for step in (1..4) %}
    <div class="md-step{% if step == 1 %} active done{% elsif step == 2 %} active editable{% elsif step == 3 %} active{% endif %}">
      <div class="md-step-circle"><span>{{ step }}</span></div>
      <div class="md-step-title">
        {% case step %}
        {% when 1 %}
          Checkout
        {% when 2 %}
          Shipping
          <div class="md-step-optional">Optional</div>
        {% when 3 %}
          Payment
        {% when 4 %}
          Review
        {% endcase %}
      </div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  {% endfor %}
</div>

{% schema %}
    {
      "name": "Stepper Section",
      "settings": [
        {
          "type": "text",
          "label": "Step 1 Label",
          "id": "step_1_label",
          "default": "Step 1"
        },
        {
          "type": "text",
          "label": "Step 2 Label",
          "id": "step_2_label",
          "default": "Step 2"
        },
        {
          "type": "text",
          "label": "Step 3 Label",
          "id": "step_3_label",
          "default": "Step 3"
        },
        {
          "type": "text",
          "label": "Step 4 Label",
          "id": "step_4_label",
          "default": "Step 4"
        }
      ],
      "presets": [
        {
          "category": "Custom",
          "name": "Stepper Section",
          "settings": {
            "step_1_label": "Step 1",
            "step_2_label": "Step 2",
            "step_3_label": "Step 3",
            "step_4_label": "Step 4"
          }
        }
      ]
    }
    {% endschema %}